{% extends "base.html"%}
{% load get_thumbnail %}
{% block style%}

{% endblock style%}

{% block content %}

<h1>My Seller Product</h1>
<p>
<form>
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search"/>
</form>
</p>
<table>
    {% for instance in product_list %}
    {% with instance|get_thumbnail:"micro" as thumb %}
    <tr class="">
        <td>
            {{instance.id}}
        </td>
        <td>
            <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
        </td>
        <td>
        {% if thumb %}
        <a href="{{ instance.get_absolute_url }}">
            <img src='{{ thumb }}'></a><br/>
        {% endif %}
        </td>
        <td>{{ instance.price }}</td>
        <td><a href="{{instance.get_edit_url}}">Edit</a> | <a href="#">Delete</a></td>
    </tr>
    {% endwith %}
    {% empty %}
    <li> No products yet.</li>
    {% endfor %}
</table>


{% endblock content %}