{% extends "base.html"%}

{% block content %}

<h1>Tags</h1>
<!--<p>
<form>
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search"/>
</form>
</p>-->
<ul>
    {% for instance in object_list %}
        <li> <a href="{{ instance.get_absolute_url }}">{{instance.title}} ({{instance.products.count}} product(s))</a></li>
        <!-- you can also use product{% if instance.products.count > 1%}s{% endif %} to display product and products
             based on the number of products -->

    {% empty %}
        <li> No products yet.</li>
    {% endfor %}
</ul>


{% endblock content %}