{% extends "base.html"%}

{% block style%}
.row1{
    background-color:#EEEEEE;
}
.row2{
    background-color:#DDDDDD;
}

{% endblock style%}

{% block content %}

<h1>{% if vendor_name %}{{vendor_name}}{% endif %} Products</h1>
<p>
<form>
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search"/>
</form>
</p>
<ul>
    {% include "products/product_list_snippet.html" with product_list=object_list %}


    <!--exemplo de uso de cycle para colocar classes diferentes em momentos alternados a cada laco do for-->
    <!--{% for instance in object_list %}-->
        <!--<li class="{% cycle 'row1' 'row2' %}">-->
            <!--<a href="{{ instance.get_absolute_url }}">{{ instance }} </a><br/>-->
            <!--{{ instance.description|truncatechars:50 }}<br/>-->
            <!--{{ instance.price }}-->
        <!--</li>-->
    <!--{% empty %}-->
        <!--<li> No products yet.</li>-->
    <!--{% endfor %}-->
</ul>


{% endblock content %}