{% extends "base.html"%}

{% block style%}
.row1{
    background-color:#EEEEEE;
}
.row2{
    background-color:#DDDDDD;
}

{% endblock style%}

{% block content %}

<h1>Product</h1>
<p>
<form>
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search"/>
</form>
</p>
<ul>
    {% for instance in object_list %}
        <li class="{% cycle 'row1' 'row2' %}">
            <a href="{{ instance.get_absolute_url }}">{{ instance }} </a><br/>
            {{ instance.description|truncatechars:50 }}<br/>
            {{ instance.price }}
        </li>
    {% empty %}
        <li> No products yet.</li>
    {% endfor %}
</ul>


{% endblock content %}